<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Spec Runner</title>

  {{ jasmine_media.css }}
  {{ jasmine_media.js }}
  {{ jasmine_media.coffee }}

  {% block extrajs %}{% endblock %}

</head>

<body>
  {% for template in include_templates %}
  {% include template %}
  {% endfor %}

  <!-- spec files -->
  {{ spec_media.js }}
  {{ spec_media.coffee }}

  <script type="text/javascript">
  {% block jasmine %}
    (function() {
      var jasmineEnv = jasmine.getEnv();
      jasmineEnv.updateInterval = 1000;

      var htmlReporter = new jasmine.HtmlReporter();

      jasmineEnv.addReporter(htmlReporter);

      jasmineEnv.specFilter = function(spec) {
        return htmlReporter.specFilter(spec);
      };

      var currentWindowOnload = window.onload;

      window.onload = function() {
        if (currentWindowOnload) {
          currentWindowOnload();
        }
        execJasmine();
      };

      function execJasmine() {
        jasmineEnv.execute();
      }

    })();
  {% endblock %}
  </script>
</body>
</html>
